<div class="jumbotron home">
	<div class="welcome">
		<h1>ChessClub</h1>
		<h2>by ourgreatclub.com</h2>
		<p>A Chess Club management application.</p>
	</div>
	<a class="btn btn-default" href="#" role="button">Link</a>
	<button class="btn btn-default" type="submit">Button</button>
	<input class="btn btn-default" type="button" value="Input">
	<input class="btn btn-default" type="submit" value="Submit">
</div>